@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #ded8fc;
}
/* nav */

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.n-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-jedi-order{
    /* width: 0px; */
    font-size: 2.1rem;
    margin-right: 10px;
}
ul{
    display: flex;

}
ul li{
    list-style: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
}
ul li a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    position: relative;
}
a::after{
    content: "";
    width: 0;
    border-bottom: 2px solid crimson;
    position: absolute;
    left: -2px;
    bottom: -3px;
    transition: width 0.5s linear;
    
}
li:hover a::after{
    width: 120%;
}


.p-img{
    width: 46px;
}
.p-mainbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.p-head{
    color: rgb(0 220 255);
    padding: 20px 30px 0 30px;
   
}
.p-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}
#p-container{
    width: 80%;
    margin: 10px 10%;
    background-color: white;
    border-radius: 12px;
    padding-bottom: 50px;
}
.p-head-2{
    margin-left: 15px;
    text-transform: capitalize;
    position: relative;
    font-size: 1.3rem;
}
hr{
    opacity: 0.2;
    width: 93%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid;
}

/* blogs */
.blog{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
  
}
#blogs{
    display: flex;
    flex-wrap: wrap;
}

.b-info{
    width: 100%;
    padding-left: 15px;
}
.b-head{
    width: 100%;
    
}
.b-img{
    width: 200px;
    padding: 0 10px;
}

.b-author{
    position: relative;
    text-decoration: none;
    color: #562EFF;
    margin-left: 5px;
}
.b-name{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.b-author::after{
    content: "";
    width: 0;
    border-bottom: 2px solid crimson;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.3s linear;
}
.b-info:hover .b-author::after{
    width: 100%;
}

/* leatest courses */

#course{
    width: 80%;
    margin: 20px 10%;
    background-color: white;
    border-radius: 12px;
    padding-bottom: 50px;
    
}
.courses{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.details{

    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}
.c-img{
    width: 100%;
    /* padding: 0 10px; */

}
.c-info{
    
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
    flex-wrap: wrap;
}
.fill{
    color: gold;
}
.empty{
    opacity: 0.5;
}
.c-author{
    color: crimson;
    font-weight: 600;
    padding: 5px;
}
.ratin{
    opacity: 0.5;
}
.time{
    background-color: rgb(255, 193, 193);
    padding: 5px;
    border-radius: 20px;
    color: crimson;
    padding-right: 8px;
}
.fa-clock{
    margin: 0 3px;
}


/* media quearies */


@media screen and (max-width: 850px) {
    .courses{
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog{
        width: 100%;
        flex-direction: column;
        line-height: 50px;
    }
    .b-info{
        text-align: center;
        margin-top: 10px;
    }
    .b-img{
        width:90%;
        justify-content: center;
        display: flex;
    }
    .margin{
        margin-bottom: 20px;
        
    }
    .details{
        width: 80%;
        margin: 10px 10%;
        border-bottom: 1px solid black;
    }
    .c-img{
        width: 100%;
    }
    .c-info{
        justify-content: space-evenly;
    }
    .c-heading{
        margin: 20px 0;
    }
}
@media screen  and (max-width: 688px){
    .p-mainbox{
        grid-template-columns: repeat(2, 1fr);
    }
    a{
        display: none;
    }
}
@media screen  and (max-width: 400px){
    .p-mainbox{
        grid-template-columns: 1fr;
    }
}